.header{
	border-width: 0px 0px 2px;
	border-color: #ECECEC;
	border-style: solid;	
}

.header a {
	text-decoration: none;
	font-style: normal;
}

.header-flex{
	display: flex;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
	max-width: 1170px;
}
.header-nav{
	display: flex;
	align-items: center;
	
	
}
.header-nav-list{
	display: flex;
	margin-left: 93px;
	align-items: center;
}
.header-contacts{
	display: flex;
}

.web-blue,
.studio-black,
.studio-white {
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.studio-black {
	color: #000000;
}
.web-blue {
	color: var(--accent-color);
}
.studio-white {
	color: #ffffff;
}

.header-nav-item,
.header-mail,
.header-tel {
	margin-right: 50px;	
}
.header-nav-item:last-child,
.header-tel {
	margin-right: 0;
}
.header-nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 28px;
}

.underline{
position: relative;
}
.underline::after{
	position: absolute;
	content: '';
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background-color: #2196f3;
	left: 0;
	bottom: -2px;
}

.link {
	display: block;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #212121;
	padding: 31px 0;
	outline: transparent;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
	color: var(--accent-color);	
}

.header-contacts {
	margin-left: auto;
}

.header-link {
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
	gap: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: #757575;
	padding: 31px 0;

	outline: transparent;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
	color: var(--accent-color);	
}

.header-icon {	
	fill: #757575;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover .header-icon,
.header-link:focus .header-icon{
	fill: var(--accent-color);
}