.studio-hero {
	background-color: #C4C4C4;;
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	// background-image: linear-gradient(
	// 	rgba(47, 48, 58, 0.4),
	// 	rgba(47, 48, 58, 0.4)	),
	// 	url(../images/hero-desktop-img.jpg);
}

@media screen and (min-width: 1200px) {
	.studio-hero {
		background-image: linear-gradient(
		rgba(47, 48, 58, 0.4),
		rgba(47, 48, 58, 0.4)),	
		url(../images/hero-desk-img.jpg);
	}
	@include retina {
		.studio-hero {
			background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),	
			url(../images/hero-desk-img-2x.jpg);
		}
	}
}

@media screen and (max-width: 1199px) {
	.studio-hero {
		padding-top: 118px;
		padding-bottom: 118px;
		background-image: linear-gradient(
		rgba(47, 48, 58, 0.4),
		rgba(47, 48, 58, 0.4)),
		url(../images/hero-tablet-img.jpg);
	}
	@include retina {
		.studio-hero {
			background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),		
			url(../images/hero-tablet-img-2x.jpg);
		}
	}
}

@media screen and (max-width: 767px) {
	.studio-hero {
		padding-top: 118px;
		padding-bottom: 118px;
		background-image: linear-gradient(
		rgba(47, 48, 58, 0.4),
		rgba(47, 48, 58, 0.4)),
		url(../images/hero-mob-img.jpg);
	}
	@include retina {
		.studio-hero {
			background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),		
			url(../images/hero-mob-img-2x.jpg);
		}
	}
}

.studio-banner {	
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
	max-width: 696px;
	margin: 0px auto 30px;
}
@media screen and (max-width: 1199px) {
	.studio-banner {
		font-size: 26px;
	}
}

.hero-button {
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 32px;
	border-style:none;
	margin-right: auto;
	margin-left: auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.hero-button:hover,
.hero-button:focus {
	background-color: #188CE8;
}
