.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
	position: fixed;
	top: 0;  
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
				visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}	

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
} //na4alnij stan anime; kolu na .backdrop die .is-hidden, to stan takuj//

.modal{
	width: 528px;
	min-height: 581px;
	padding: 40px;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}   //kone4nij stan anime i plavnij perexid //
@media screen and (max-width: 767px){
	.modal{
		width: 320px;
		height: 100vh;
	}
}

.modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	
	display: flex;
	align-items: center;
	justify-content: center;

	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	fill: #000000;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
	fill:var(--accent-color);
}
.modal-close:hover,
.modal-close:focus {
	border-color: var(--accent-color);
}

.modal-title{	
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	margin-bottom: 12px;
}

.modal-form{
	display: flex;
	flex-direction: column;
}

.modal-field {
	margin-bottom: 10px;
}
.modal-input,
.modal-text {
	width: 100%;	
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;	
	padding-left: 40px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: #000000;

	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input{
	height: 40px;	
}

.modal-input:not(:focus):not(:placeholder-shown):valid{
	background-color: rgba(147, 248, 147, 0.418);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid{
	background-color: rgba(248, 147, 147, 0.418);
	}

.modal-input::placeholder,
.modal-text::placeholder{
	color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus,
.modal-text:focus{
	border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
	fill: var(--accent-color);
}

.modal-label{
	display: block;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: #757575;
	margin-bottom: 4px;
}

.input-wrap {
	position: relative;	
}
.input-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
	margin-bottom: 20px;	
}

.modal-text{
	display: block;
	height: 120px;
	padding: 12px 16px;
	resize: none;
}

.submit-button {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;		
	letter-spacing: 0.06em;
	color: #ffffff;
	padding: 10px 0px;
	
	width: 200px;
	height: 50px;
	margin: 0 auto;
	
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;

	outline: transparent;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:hover,
.submit-button:focus {
	background-color: #188CE8;
}