.subscribe-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.subscribe-input{
	margin-right: 12px;
	width: 358px;
	height: 50px;
	outline: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	color: #ffffff;
	padding-left: 16px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:hover,
.subscribe-input:focus {
	border-color: var(--accent-color);
}
.subscribe-input::placeholder{
	/* border-color: var(--accent-color); */
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:hover::placeholder,
.subscribe-input:focus::placeholder{
	color: #ffffff;
}

.subscribe-button{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	outline: transparent;

	width: 200px;
	height: 50px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus{
	background: #188CE8;
}

.icon-send{
	fill: #ffffff;
	height: 24px;
	width: 24px;
}